.fondo_negro {
    background-color: rgb(0, 0, 0);
}

.fondo_container {
    background-color: rgb(245, 181, 63);
    background-image: linear-gradient(to right , rgb(245, 181, 63),rgb(248, 247, 244));
}
